<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/konva/3.2.5/konva.min.js"></script>
    <script src="https://unpkg.com/konva@8.3.14/konva.min.js"></script>
    <div>Render a local image without upload</div>
    <div>
        <input type="file" id="file_input">
        <button onclick="move()" class="button">move</button>
        <button onclick="delete_()" class="button">delete</button>
        <button></button>
        <input type="file" id="file_input_2">
        <form action="/" method="POST" id="form1"><button id="phase1mag2" value=" ">Phase1&Mag2</button></form>
        <form action="/" method="POST" id="form2"><button id="phase2mag1" value=" ">Phase2&Mag1</button></form>
    </div>
    <div id="canvas-container" style='display: inline-block; border: 1px solid #ccc;  background-color: #ccc; overflow: auto;'></div>
    <div id="canvas-container-2" style='display: inline-block; border: 1px solid #ccc;  background-color: #ccc; overflow: auto;'></div>
    <div id="canvas-container-3" style='display: inline-block; border: 1px solid #ccc;  background-color: #ccc; overflow: auto;'></div>
    <div id="canvas-container-4" style='display: inline-block; border: 1px solid #ccc;  background-color: #ccc; overflow: auto;'></div>
    <div id="canvas-container-5" style='display: inline-block; border: 1px solid #ccc;  background-color: #ccc; overflow: auto;'></div>
</body>
    <script  src="/static/main.js"> </script>
</html>
